.Header{
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    z-index: 100;
}

.leftSection{
    display: flex;
    align-items: center;
}

.middleSection{
    flex: 1;
    margin-left: 60px;
    margin-right: 30px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.rightSection{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    padding-right: 20px;
    flex-shrink: 0;
}

.hamMenu{
    margin-left: 30px;
    margin-right: 30px;
    height: 30px;
}

.youtubeLogo{
    height: 30px;
}

.searchButton .tooltip,
.microButton .tooltip{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgba(152, 152, 152, 1);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    color: white;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

.searchButton:hover .tooltip,
.microButton:hover .tooltip{
    opacity: 1;
}

.searchButton{
    height: 39px;
    width: 70px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    margin-left: -2px;
    margin-right: 10px;
    position: relative;
}

.searchIcon{
    height: 30px;
    margin-top: 4px;
}

.searchBar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    width: 10px;
}
.searchBar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.microButton{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(245, 245, 245);
    position: relative;

}
.microIcon{
    height: 24px;
    margin-top: 4px;
}

.camIcon{
    height: 30px;
}
.rubIcon{
    height: 30px;
}

.notification{
    position: relative;
}

.bellIcon{
    height: 30px;
}

.numNotif{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    background-color: red;
    color: white;
    right: -3px;
    top: 0;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}


.channelIcon{
    height: 30px;
    border-radius: 15;
}

