.sideBar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 72px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}

.sideBarLink{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    flex-direction: column;
}

.sideBarLink:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sideBarLink img{
    height: 40px;
    margin-bottom: 4px;
}

.sideBarLink div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;

}